:root {
  --card-box-shadow: none;
  /* code */
  --black: #1e222a;
  --text: #abb2bf;
  --green: #98c379;
  --red: #e06c75;
  --yellow: #d19a66;
  --blue: #61afef;
  --magenta: #c678dd;
  --cyan: #56b6c2;
}

[data-theme="light"] {
  --background-color: #fff;
  --primary-focus: var(--secondary-focus);
}

[data-theme="dark"] {
  --background-color: #11191f;
  --primary-focus: var(--secondary-focus);
}

body,
html {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: normal;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

blockquote > p {
  margin: 0;
}

footer {
  color: var(--muted-color);
  font-size: 0.7em;
  text-align: center;
  padding: 16px 0px !important;
}

.margin-t-32 {
  margin-top: 32px;
}

.margin-b-32 {
  margin-bottom: 32px;
}

.active {
  color: var(--primary-hover);
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: var(--muted-color);
  opacity: 0.6;
}

.tags,
.categories {
  margin-right: 8px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
