---

name: Pelican deployment

env:
  PELICAN_CONTENT_DIR: content
  PELICAN_CONFIG_FILE: publishconf.py

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependecies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build with pelican
        run: |
          pelican $PELICAN_CONTENT_DIR -s $PELICAN_CONFIG_FILE
